# Triggered when a new tag (e.g., v1.0) is created in the repository.
# Stages:
# - Build: Uses the Makefile to compile the extension and create a zip file for upload to extensions.gnome.org.
# - Release: Creates a GitLab release for the tag, using release notes from the RELEASENOTES file.

stages:
  - build
  - release

variables:
  NAME: "ArcMenu"
  UUID: "arcmenu@arcmenu.com"
  VERSION: "${CI_COMMIT_TAG}"

.run_on_tag:
  rules:
    - if: $CI_COMMIT_TAG

build_job:
  stage: build
  extends: .run_on_tag
  image: ubuntu:latest
  script:
    - apt-get update
    - apt-get install -y gettext git libglib2.0-bin make zip
    - echo "Running make install..."
    - make install VERSION=${VERSION}
    - echo "Creating the zip file..."
    - make zip-file
  artifacts:
    name: "${NAME} ${VERSION}"
    paths:
      - "${UUID}_${VERSION}.zip"
    expire_in: "1 day"

release_job:
  stage: release
  extends: .run_on_tag
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build_job
  script:
    - echo "Creating release for tag ${VERSION}..."
  release:
    tag_name: "${VERSION}"
    description: RELEASENOTES